/* Custom Theodo CSS: credit https://github.com/tuxosaurus */
body .list-card-labels {
  float: right;
  top: -2px;
  right: -6px;
  max-width: 200px;
  margin: 0;
  text-align: right;
  overflow: hidden;
}

body .list-card-labels .card-label {
  float: right;
  width: auto;
  max-width: 60px;
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  margin: 0 0 2px 2px;
  font-size: 9px;
  border-radius: 3px;
  overflow: visible;
}

body .list-card-details {
  padding: 4px 8px;
}

/* display card id */
body .card-short-id.hide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  font-weight: bold;
  font-size: 11px;
  background: gold;
  border-radius: 3px 0;
}

body .has-cover .card-short-id.hide {
  border-radius: 0 0 3px 0;
}

body .list-card-title {
  margin: 16px 0 10px;
}

/* bottom edit link */
body .list-card-operation {
  top: auto;
  right: -2px;
  bottom: -2px;
  padding: 1px;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(0,0,0,.3), -1px -1px white;
}

body .list-card {
  margin-top: 10px;
}

body .list-card:first-child {
  margin-top: 2px;
}

/* display total cards count */
body .list-header-num-cards.hide {
  display: inline-block;
  font-size: 11px;
}

.card-label {
  text-shadow: none!important;
}

/* [CardCounter for Trello](https://chrome.google.com/webstore/detail/cardcounter-for-trello/miejdnaildjcmahbhmfngfdoficmkdhi)s */
.cardCounter {
	font-size: 13px;
	letter-spacing: 0px;
	display: inline-block;
	background: #E09952;
	color: #FFF;
	padding: 0px 4px;
	border-radius: 3px;
	font-weight: bold;
	float: right;
	margin: 1px 2px 0 2px;
}

.cardCounter.limitReached {
	background: #BD2828;
}

/* [Scrum for Trello](https://chrome.google.com/webstore/detail/scrum-for-trello/jdbcdblgjdpmfninkoogcfpnkjmndgje) */
.list-total {
	color: #006580;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 1px 0px 0 0;
	line-height:18px;
}
.board-header-btns .list-total{ /* only targets the board totals */
	line-height:30px;
	color: #60c5f0;
}

.list-total .cpoints{
	margin-right:3px;
	opacity: 0.5;
}

.list .list-title h2 {
	float: none !important;
	display: inline !important;
	margin-right: 0 !important;
	vertical-align: -4px;
}

.manual .window-main-col p, .window-main-col h2 {
	display: block !important;
}

.badge-points {
	background-color: #006580 !important;
	color: #e1fafb !important;
	float: right;
	font-size: 11px;
	line-height: 16px;
	padding: 0 4px!important;
}

.badge-points:empty {
	display: none;
}

.badge-points.consumed{
	opacity: 0.5;
}

.picker-consumed,
.picker {
	float: left;
	width: 100%;
	padding: 5px 0;
}
.picker-title {
	padding-right: 20px;
}

.points-done-icon{
	background-position: 0px 3px !important;
	background-repeat: no-repeat !important;
	margin-left:3px;
}
.js-points-done:hover > .points-done-icon{
	background-position: -11px 3px !important;
}

.point-value {
	background-color: #006580 !important;
	border-radius: 3px;
	padding: 2px 5px !important;
	margin-right: 5px;
	font-size: 15px !important;
	color: white;
	font-weight:bold;
	cursor: pointer;
}
